@import '../../styles/utility.scss';

.cartSize {
    position: absolute;
    transform: translate(1.25rem,-1.25rem);
    background-color: $rtr-red;
    padding: 0.25rem;
    width: 1.3rem;
    height: 1.3rem;
    min-width: fit-content;
    border-radius: 100%;
    color: $rtr-tan;
    z-index: 10;
    text-align: center;
    span {
        font-size: 1.3rem;
        position: relative;
        bottom: 0.2rem;
    }
}

.animate {
    animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
    0% {
        filter: blur(2px);
        opacity: 0.5;
    }
    100% {
    }
    
}