@import '../../styles/utility.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-block: max(1rem, 1vw);
    font-size: max(1.5rem, 1.5vw);
}

.details {
    display: flex;
    width: 85%;
    justify-content: center;
    text-align: center;
    border: solid $rtr-seagreen 1px;
    color: $rtr-seagreen;
    border-radius: 5px;
    p {
        padding: 0rem 1rem;
    }
}

.titles {
    display: flex;
    width: 85%;
    button {
        background: none;
        width: 33.33%;
        border-radius: 5px;
        border: solid $rtr-seagreen 1px;
        text-transform: uppercase;
        color: $rtr-seagreen;
        padding-block: 0.5rem;
    }
    .activeBtn {
        background-color: $rtr-brown-clay;
        color: $rtr-tan;
    }
}

@media (min-width: 767px) {
    .container {
        align-items: flex-start;
        padding-left: 1.5rem;
        max-width: 70rem;
    }
    .titles {
        button {
            font-size: max(1.5rem, 1.5vw);
            padding: 0.5rem 1rem;

        }
    }
    
}
