@import '../utility/utility.scss';

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 95%;
    min-height: 80vh;
    max-height: max-content;
    margin-bottom: 3rem;
    padding-left: 1rem;
    gap: 1rem;
    h1, h2 {
        color: $rtr-green-dark;
        font-weight: 400;
        font-size: max(1.7rem,1.7vw);
    }
    h3 {
        color: $rtr-green-dark;
        font-weight: 400;
        margin: 0;
    }
}

.addressSelection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.methodSelection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.addAddress {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 2rem 1rem;
    border: none;
    background: none;
    font-size: max(1.2rem, 1.2vw);
    max-width: fit-content;
}

.addAddress:hover {
    text-decoration: underline;
    transform: translateX(1rem);
    transition: 0.2s transform ease-in-out;
}

.btn {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    button {
        white-space: normal;
        max-width: 20rem;
        line-height: 2rem;
    }
}

@media (min-width: 768px) {
    .pageContainer {
        flex-flow: row nowrap;
        align-items: flex-start;
    }
    .methodSelection {
        justify-content: flex-start;
    }
    .btn {
        padding-left: 1rem;
    }
    .methodSelection, .addressSelection {
        max-width: max(25rem,33%);
    }
}