@import '../../styles/utility.scss';

.inputContainer {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding-block: 0.5rem;
    label {
        display: flex;
        flex-direction: column;
    }
}

.input {
    border: solid $rtr-brown-clay 1px;
    margin-top: 0.25rem;
    background: none;
    appearance: none;
    padding: 0.5rem;
    border-radius: 5px;
    max-width: 5rem;
    font-size: max(1.2rem, 1.2vw);
    color: $rtr-seagreen;

}