@import '../utility/utility.scss';

.pageContainer {
    display: flex;
    margin-top: 7rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    height: max-content;
    min-height: max-content;
    margin-bottom: 3rem;
}


@media (min-width: 1000px) {
    .pageContainer {
        margin-top: 18vw;
        justify-content: center;
    }
}
