@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  background-color: #073221;
  color: #7E7F1E;
  padding-block: 1%;
  -webkit-animation: fadeDown 0.3s ease-in-out;
          animation: fadeDown 0.3s ease-in-out;
  z-index: 10;
}

.navIcon {
  padding-block: 0.5rem;
  padding-right: 2rem;
}

.navContent {
  display: flex;
  width: 100%;
}

.logoContainer {
  height: max(6rem, 6vw);
  width: max(6rem, 6vw);
  cursor: pointer;
}
.logoContainer .logo {
  height: 100%;
  width: 100%;
  background-image: url("/logo-brand.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.brand {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: max(2rem, 2.5vw);
  width: 100%;
  text-align: center;
  color: #7E7F1E;
}

.mobileToggleContainer {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  right: 1rem;
}

.navMenuDesktop {
  display: none;
}

.navMenuMobile {
  position: fixed;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  left: 0;
  width: 100%;
  top: 5.5rem;
  padding: 0.5rem 1rem;
}
.navMenuMobile a {
  font-size: 1.5rem !important;
  line-height: 3rem;
  padding: 0.25rem;
  text-decoration: none;
  color: #7E7F1E;
  font-size: min(2rem, 1.5vw);
  text-transform: uppercase;
}

.iconContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .navMenuMobile {
    top: 6rem;
  }
}
@media (min-width: 1000px) {
  .navIcon {
    padding: 0;
  }

  .navbar {
    flex-flow: row nowrap;
  }

  .navContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .navMenuMobile {
    display: none;
  }

  .mobileToggleContainer {
    display: none;
  }

  .brand {
    padding-bottom: min(1.5rem, 4vh);
  }

  .navMenuDesktop {
    display: flex;
    position: relative;
    margin: 0;
    gap: 3rem;
  }
  .navMenuDesktop a {
    text-decoration: none;
    color: #7E7F1E;
    font-size: min(2rem, 1.5vw);
    text-transform: uppercase;
  }

  .iconContainer {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
  }
}
@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}/*# sourceMappingURL=Navbar.module.css.map */