@import '../../styles/utility.scss';

.filterDetails {
    width: 100%;
    background: $rtr-tan;
    box-shadow: 0 .1rem 1rem -.5rem $rtr-shadow;
    display: flex;
    border-radius: 5px;
    width: 100%;
    summary::-webkit-details-marker { 
        display:none; 
    }
}

.filterDetails[open] {
  padding-bottom: 0.5rem;

  .optionsContainer {
    max-height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .optionsContainer::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  .optionsContainer::-webkit-scrollbar-track {
    background: $rtr-eggshell;
  }
  
 .optionsContainer::-webkit-scrollbar-thumb {
    background-color: $rtr-seagreen;
    border-radius: 1rem; 
  }

  .optionsContainer {
    scrollbar-width: thin;
    scrollbar-color: $rtr-seagreen $rtr-eggshell;
  }
}
  
.filterSummary {
  padding: 1rem;
  border-radius: 5px;
  display: block;
  background: $rtr-eggshell;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}

.filterSummary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent $rtr-green;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

.filterDetails[open] > .filterSummary {
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.filterDetails[open] > .filterSummary:before {
  transform: rotate(90deg);
}

@media (min-width: 767px) {
  .filterDetails {
    height: 0;
  }
  .filterDetails[open] {
    height: auto
  }
}

