@import '../../styles/utility/utility.scss';

.hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 32rem;
    height: 65vh;
    margin-bottom: max(3rem,4vw);
}

.heroContent {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to left,rgba(255, 255, 255,0.4), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7));
    padding: 1.5rem;
    z-index: 2;
    margin-bottom: 3rem;
    max-height: min-content;
    animation: slideInFromRight .7s ease-in-out, fadeIn .8s ease-in-out;
    .tagline {
        text-align: center;
        margin: 0;
        font-size: max(3rem, 6vw);
        max-width: max(18rem, 90%);
    }
}

.btnContainer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.imgContainer {
    min-width: 100%;
    animation: fadeIn .5s ease-in-out;
    min-height: 100%;
    .img {
        width: 100%;
        height: 100%;
        background-image: url("/home.png");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }
}

@media (min-width: 1000px) {
    .hero {
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
        width: 80%;
    }
    
    .heroContent {
        position: relative;
        background: none;
        min-width: 50%;
        justify-content: space-between;
        animation: fadeIn 1s ease-in-out, slideInFromLeft 1s ease-in-out;
        .tagline {
            max-width: none;
            padding: 2vw 3vw;
            font-size: max(5rem, 4vw);
            text-align: left;
            letter-spacing: normal;
        }
    }
    
    .btnContainer {
        padding-left: max(3rem,10vw);
        width: 100%;
        justify-content: flex-start;
    }

    .imgContainer {
        height: 100%;
        min-width: 50%;
        animation: fadeIn 1s ease-in-out, slideInFromRight 1s ease-in-out;
        .img {
            background-size: 100%;
            background-position:contain;
            max-width: 35rem;
            min-height: min(35rem,90%);
            border-radius: 16px;
        }
    }
}