@import '../../styles/utility.scss';

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 4;
}

.mobileControls {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $rtr-green-dark;
    color: $rtr-tan;
    padding: 0.25rem;
    font-size: 1.2rem;
    gap: max(1rem, 1vw);
    cursor: pointer;
    z-index: 5;
}

.controlsText {
    display: flex;
    position: relative;
    align-items: center;
}

.openFilters {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
    overflow-y: scroll;
    position: sticky;
    top:-1rem;
    width: 100%;
    padding-top: 1rem;
    gap: 1rem;
}

.filterOption {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 16rem;
    min-width: max-content;

}

.closeFilters {
    display: none;
}

.slideUp {
    animation: slideUp 0.5s ease-in-out;
}

.filterBtn {
    button {
        max-width: 10rem;
        min-width: 10rem;
        background-color: $rtr-seagreen;
        color: $rtr-eggshell;
        border: none;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 .1rem 1rem -.5rem $rtr-shadow;
        border-radius: 5px;
    }
    button:hover {
        background-color: $rtr-eggshell;
        color: $rtr-seagreen;
        transition: all 0.2s ease-in-out;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
  
@keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
}

@media (min-width: 767px) {
    .filterOption {
        width: 100%;
    }
    .mobileControls {
        display: none;
    }
    .openFilters {
        display: none;
    }
    .closeFilters {
        display: flex;
        flex-flow: row nowrap;
        min-height: max-content;
        position: sticky;
        gap: 1rem;
        top:-1rem;
        width: 90%;
        padding-top: 1rem;
    }
    .clearFiltersBtn {
        display: block;
        margin-bottom: 0.5rem;
    }
    .slideUp {
        animation: none;
    }
}
