@import '../../styles/utility/utility.scss';

.btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    button {
        font-size: max(1.2rem, 1.2vw);
        margin-top: 1rem;
        margin-bottom: 2rem;
        color:$rtr-green-dark;
        min-width: min-content;
        letter-spacing: 2px;
    }
}