@import '../utility/utility.scss';

.pageContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 95%;
    min-height: 80vh;
    max-height: max-content;
    margin-bottom: 3rem;
    padding-left: max(1rem,2.5%);
}

.title {
    font-weight: 400;
    color:$rtr-green-dark;
}

.btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    button {
        font-size: max(1.2rem, 1.2vw);
        margin-top: 1rem;
        margin-bottom: 2rem;
        color:$rtr-green-dark;
        min-width: min-content;
        letter-spacing: 2px;
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

.emptyCart {
    display: flex;
    min-height: 80vh;
    padding: 0 10%;
    h1 {
        margin-top: 20%;
        color: $rtr-green-dark;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        a {
            color: $rtr-green-dark;
        }
    }
    
}

@media (min-width: 768px) {
    .pageContainer {
        flex-direction: row;
        gap: 10%;
        justify-content: center;
    }
    .btn {
        display: flex;
        justify-content: center;
    }
    
}

@media (min-width: 1000px) {
    .pageContainer {
        padding-left: 0px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}