@import '../../styles/utility.scss';

.container {
  display: flex;
  border: solid $rtr-seagreen 2px;
  white-space: nowrap;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  max-width: fit-content;
  padding-right: 1rem;
}

.select {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.container:hover {
  background-color: $rtr-seagreen;
  color: $rtr-tan;
  transition: all .2s ease-in-out;
  cursor: pointer;
}


  

  
  