@import '../../styles/utility/utility.scss';

.featuredProducts {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: max(1.75rem, 3vw);
}

.productsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}