@import './utility.scss';
@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap');

@font-face {
  font-family: 'Seasons';
  src: url("./fonts/Fontspring-DEMO-theseasons-reg.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  'Seasons', serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $rtr-tan;
  overflow-x: hidden;
}

.specialChar {
  font-family: 'Poly',serif;
}

* {
  font-family:  'Seasons', serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a, button, select, input, textarea {
  cursor: pointer;
}



